/AppRegistro/nbproject/private/
/AppRegistro/build/
/Ejercicios-UI/AppRegistro/build/
/Ejercicios-UI/AppRegistro/nbproject/private/
/Ejercicios-NetBeans-UI/AppRegistro/build/
/Ejercicios-NetBeans-UI/AppRegistro/nbproject/private/
/Ejercicios-NetBeans-UI/Tablas/nbproject/private/
/Ejercicios-NetBeans-UI/Tablas/build/
