/AppRegistro/nbproject/private/
/AppRegistro/build/
/Ejercicios-UI/AppRegistro/build/
/Ejercicios-UI/AppRegistro/nbproject/private/
/Ejercicios-NetBeans-UI/AppRegistro/build/
/Ejercicios-NetBeans-UI/AppRegistro/nbproject/private/
/Ejercicios-NetBeans-UI/Tablas/nbproject/private/
/Ejercicios-NetBeans-UI/Tablas/build/
/Ejercicios-NetBeans-UI/Quiz_promedio_ponderado/target/
/Ejercicios-NetBeans-UI/QuizPromedio/target/
/Ejercicios-NetBeans-UI/UI - Tablas/Tablas/nbproject/private/
/Ejercicios-NetBeans-UI/UI - Tablas/Tablas/build/
/Ejercicios-NetBeans-UI/Tablas/dist/
/Ejercicios-NetBeans-UI/16 - UI - Tablas/Tablas/nbproject/private/
/Ejercicios-NetBeans-UI/16 - UI - Tablas/Tablas/build/
/Ejercicios-NetBeans-UI/BaseDatos/nbproject/private/
/Ejercicios-NetBeans-UI/BaseDatos/build/
/Ejercicios-NetBeans-UI/CambioContenedores/build/
/Ejercicios-NetBeans-UI/CambioContenedores/dist/
/Ejercicios-NetBeans-UI/CambioContenedores/nbproject/private/
/consumo_api_java/ConsumoApi/nbproject/private/
/consumo_api_java/ConsumoApi/build/
